:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-tittle-cl: #ffffff;
  --icons-color: #afb1b8;
  --dark-bg: #2f303a;
  --section__bg: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-border-radius: 0px 0px 4px 4px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__bg {
  background-color: var(--section__bg);
}

@media screen and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section--hidden {
    padding-top: 0px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
  transition: color 250ms var(--timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-cl);
}

.link__current {
  position: relative;
  padding-bottom: 32px;
  color: var(--accent-cl);
}

@media screen and (min-width: 768px) {
  .link__current::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-cl);
    bottom: 0;
  }
}

.mobile-menu__btn {
  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 6;
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-cl);
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn .menu-btn__icon-close {
  display: block;
}

.mobile-menu__btn .menu-btn__icon-menu {
  display: none;
}

.mobile-menu__btn.is-open .menu-btn__icon-close {
  display: none;
}

.mobile-menu__btn.is-open .menu-btn__icon-menu {
  display: block;
}

.mobile-menu__btn.is-open .logo.page-header__logo {
  display: none;
}

.page-header .flexbox {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-header .flexbox {
    height: 60px;
  }
}

.mobile-menu__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 786px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--alt-tittle-cl);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 4;
}

.mobile-menu__container.is-open {
  display: block;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.17;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  margin-bottom: 306px;
}

.mobile-menu__nav-contact {
  margin-bottom: 64px;
}

.mobile-menu__tel {
  font-size: 28px;
  line-height: 1.25;
  color: var(--accent-cl);
}

@media screen and (min-width: 480px) {
  .mobile-menu__tel {
    font-size: 34px;
  }
}

.mobile-menu__email {
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-text-cl);
}

.mobile-menu__nav-social {
  display: flex;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

@media screen and (min-width: 480px) {
  .mobile-menu__social-link {
    font-size: 18px;
  }
}

.mobile-menu__social:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__web {
  color: var(--accent-cl);
}

.logo__studio--dark {
  color: var(--title-cl);
}

.logo__studio--light {
  color: var(--alt-tittle-cl);
}

.social-icons {
  display: inline-flex;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition: fill 250ms var(--timing-function);
}

.social-icons__link:hover .social-icons__svg,
.social-icons__link:focus .social-icons__svg {
  fill: var(--alt-tittle-cl);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--alt-tittle-cl);
  transition: background-color 250ms var(--timing-function);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-cl);
}

.social-icons__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.social-icons__link--footer:hover, .social-icons__link--footer:focus {
  background-color: var(--accent-cl);
}

.social-icons__svg--footer {
  fill: var(--alt-tittle-cl);
}

.page-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
}

@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-cl);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.subtitle {
  margin-bottom: 10px;
  text-align: start;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.modal__title {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-cl);
}

@media screen and (min-width: 480px) {
  .modal__title {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
    line-height: 1.15;
  }
}

.btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alt-tittle-cl);
  background-color: var(--accent-cl);
  cursor: pointer;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.btn:hover, .btn:focus {
  color: var(--alt-tittle-cl);
  background-color: var(--accent-cl);
}

.backdrop {
  position: fixed;
  left: 50%;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: translate(-50%) scale(1);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), scale 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  width: 320px;
  height: 609px;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  background-color: var(--alt-tittle-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    top: 93px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 222px;
  }
}

.modal__btn {
  margin-top: 30px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--alt-tittle-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon-svg {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal__close-btn:hover > .modal__icon-svg,
.modal__close-btn:focus > .modal__icon-svg {
  fill: var(--accent-cl);
}

.contact-form {
  position: relative;
  bottom: 0px;
  left: 0px;
}

.contact-form__text {
  display: block;
  text-align: start;
  margin-left: 41px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.contact-form__field {
  display: block;
  width: 240px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--timing-function);
}

@media screen and (min-width: 480px) {
  .contact-form__field {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form__field {
    width: 448px;
  }
}

.contact-form__field:focus {
  border: 1px solid var(--accent-cl);
}

.contact-form__icon-svg {
  position: absolute;
  left: 52px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.contact-form__field:focus + .contact-form__icon-svg {
  fill: var(--accent-cl);
}

.contact-form__message {
  padding: 12px 16px;
  resize: none;
  width: 240px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .contact-form__message {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form__message {
    width: 448px;
  }
}

.contact-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .checkbox {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.checkbox__link {
  color: var(--accent-cl);
}

.checkbox__icon-svg {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 3px;
}

.checkbox--checked:checked + .checkbox__icon-svg {
  background-color: var(--accent-cl);
  border-color: var(--accent-cl);
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 480px) {
  .checkbox__text {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-set {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .btn-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.btn-set__portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--title-cl);
  background-color: var(--section__bg);
  border-color: var(--section__bg);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: none;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn-set__portfolio-btn:hover, .btn-set__portfolio-btn:focus {
  color: var(--alt-tittle-cl);
  background-color: var(--accent-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-set__box:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .btn-set__box:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.card-overlay {
  position: absolute;
  left: 0x;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--alt-tittle-cl);
  padding: 63px 24px;
}

.flexbox {
  display: flex;
}

.flexbox--center {
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.nav {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav .nav__item + .nav__item {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contact .nav__item + .nav__item {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.nav__contact {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__contact {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .nav__contact {
    align-self: center;
  }
}

.nav__contact-link {
  display: flex;
  color: var(--main-text-cl);
}

.nav__contact-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  padding: 0px;
  fill: currentColor;
}

.overlay {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/hero/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

@media screen and (max-width: 767px) {
  .overlay {
    max-width: 480px;
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 479px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/hero/hero.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px), screen and (min-resolution: 192dpi) and (min-width: 479px), screen and (min-resolution: 2dppx) and (min-width: 479px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/hero/hero.jpg");
    background-size: 480px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/tablet/hero/hero.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/tablet/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/hero/hero.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/hero/hero@2x.jpg");
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.feature__box {
  flex-basis: calc((100% - 4 * (var(--card-set-gap))) / 4);
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

.feature__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 290px;
  height: 120px;
  background-color: var(--section__bg);
}

@media screen and (min-width: 480px) {
  .feature__icons {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature__icons {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__icons {
    width: 270px;
  }
}

.feature__icons-svg {
  width: 70px;
  height: 70px;
}

.feature__text {
  line-height: 1.71;
  color: var(--main-text-cl);
}

.card-set__img-card {
  position: relative;
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

.card-set__label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
  background-color: rgba(47, 48, 58, 0.8);
}

.card-set__card {
  background-color: var(--alt-tittle-cl);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card-set__team-item {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.card-set > .card-set__team-item {
  flex-basis: 100%;
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .card-set > .card-set__team-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set > .card-set__team-item {
    flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
  }
}

.card-set__position {
  margin-top: 10px;
}

.card-set__name {
  font-weight: 500;
  color: var(--title-cl);
}

.card-set__content {
  padding: 30px 0px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .client-list {
    margin-top: calc(-1 * var(--card-set-gap));
    margin-right: calc(-1 * var(--card-set-gap));
  }
}

.client-list__item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .client-list__item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-top: var(--card-set-gap);
    margin-right: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icons-color);
  /*border-color: var(--icons-color);*/
  transition: border-color 250ms var(--timing-function);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-cl);
}

.client-list__icons-svg {
  display: inline-flex;
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  transition: fill 250ms var(--timing-function);
}

.client-list__link:hover .client-list__icons-svg,
.client-list__link:focus .client-list__icons-svg {
  fill: var(--accent-cl);
}

.page-footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}

@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__holder {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__title {
  color: var(--alt-tittle-cl);
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__title {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .address-container {
    margin-bottom: 60px;
  }
}

.address {
  font-style: inherit;
}

.address__footer {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__footer {
    margin-bottom: 9px;
  }
}

.address__street-info {
  color: var(--alt-tittle-cl);
}

.address__contact-info {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .page-footer__invite-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__invite-container {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__invite-container {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe-container {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    display: flex;
  }
}

.page-footer__input {
  font-size: 16px;
  line-height: 1.25;
  color: var(--alt-tittle-cl);
  padding-left: 16px;
  width: 290px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .page-footer__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__input {
    width: 358px;
  }
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-cl);
}

.btn__icon-svg {
  margin-left: 10px;
}

.page-footer__btn {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .page-footer__btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__btn {
    margin-top: 20px;
  }
}

.portfolio__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__card:hover .card-overlay {
  transform: translateY(0%);
}

.portfolio__item {
  box-shadow: none;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set > .portfolio__item {
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .card-set > .portfolio__item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card-set > .portfolio__item {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
  }
}

.portfolio__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  padding-bottom: 4px;
}

.portfolio__item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__card-content {
  outline: 1px solid #eee;
  padding: 20px 24px;
}

.portfolio__card-content {
  flex-grow: 6;
  background-color: inherit;
}
/*# sourceMappingURL=main.css.map */