.backdrop {
  position: fixed;
  left: 50%;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: translate(-50%) scale(1);
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--timing-function), scale 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
  }
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 222px;
  transform: translate(-50%);

  background-color: var(--alt-tittle-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  margin-top: 30px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--alt-tittle-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon-svg {
  width: 11px;
  height: 11px;
  fill: #000;

  .modal__close-btn:hover > &,
  .modal__close-btn:focus > & {
    fill: var(--accent-cl);
  }
}
