.page-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-cl);
}

.subtitle {
  margin-bottom: 10px;

  text-align: start;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-cl);

  margin-top: 40px;
  margin-bottom: 12px;
}
