:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-tittle-cl: #ffffff;
  --icons-color: #afb1b8;

  --dark-bg: #2f303a;
  --section__bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-border-radius: 0px 0px 4px 4px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
