.feature {
}

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.feature__box {
  flex-basis: calc((100% - 4 * (var(--card-set-gap))) / 4);
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

.feature__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--section__bg);

  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__icons-svg {
  width: 70px;
  height: 70px;
}

.feature__text {
  line-height: 1.71;
  color: var(--main-text-cl);
}
