.flexbox {
  display: flex;

  &--center {
    align-items: center;
  }
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;

  &__logo {
    margin-right: 90px;
  }
}

.nav {
  display: flex;

  & .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.nav__contact {
  align-self: center;
  margin-left: auto;

  &-link {
    display: flex;
    color: var(--main-text-cl);
  }

  &-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    padding: 0px;
    fill: currentColor;
  }
}
