.flexbox {
  display: flex;

  &--center {
    align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

.nav {
  display: flex;

  & .nav__item + .nav__item {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__contact .nav__item + .nav__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.nav__contact {
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    align-self: center;
  }

  &-link {
    display: flex;
    color: var(--main-text-cl);
  }

  &-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    padding: 0px;
    fill: currentColor;
  }
}
