.portfolio__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__card:hover .card-overlay {
  transform: translateY(0%);
}

.portfolio__item {
  box-shadow: none;
  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .card-set > & {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-top: var(--card-set-gap);
    margin-right: var(--card-set-gap);
  }
}

.portfolio__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);

  padding-bottom: 4px;
}

.portfolio__item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__card-content {
  outline: 1px solid #eee;
  padding: 20px 24px;
}
