.card-set__card {
  background-color: var(--alt-tittle-cl);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card-set__team-item {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.card-set > .card-set__team-item {
  flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

.card-set__position {
  margin-top: 10px;
}

.card-set__name {
  font-weight: 500;
  color: var(--title-cl);
}

.card-set__content {
  padding: 30px 0px;
}
